html, body{
    background: #FEFEFE;
}

.mainBanner{
    text-align: center;
    color: #222;
    font-family: ConduitBlack,Helvetica,sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: .909090909;
    margin-bottom: 2px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.productContainer{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.product{
    height: 300px;
    width: 200px;
    display: inline-block;   
    margin: 0px 8px;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s box-shadow ease;
    border-radius: 3px;
}

.product:hover{
    box-shadow: 0px 0px 2px 1px #999, 0px 0px 5px 2px #FFF;
}

.product .event_name{
}
.productContainer .event_name_val{
    font-style: italic;
    color: royalblue;
}

.product .product_images{
    clear: both;
}

.product .event_promo{
    margin-bottom: 10px;
}

.product img{
    height: 200px;
    width: 198px;
    margin-bottom: 10px;
}
.product_brand{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
}
.product_title{
    font-size: 14px;
    margin-bottom: 10px;
}

.product_price{
}

.salePrice{
    color: orange;
}

.listPriceSale{
    text-decoration: line-through;
}